<div class="home-banner" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(‘<%= cl_image_path @cocktail.photo%>’)">
<%= @cocktail.name %>
</div>
<ul>
  <% @cocktail.doses.each do |d| %>
    <li>
      <%= d.ingredient.name %>,
      <%= d.description %>


      <%= link_to "Delete", d,  method: :delete, data: { confirm: 'Are you sure?' } %>
    </li>
    <% end %>
</ul>

<%= link_to "Add/Edit Ingredients", new_cocktail_dose_path(@cocktail) %>
